@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;



/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
 
}
:root{
  /* create var for using in swiper bullets */
  /* the color is equal to tailwind config */
  --purple-color:#b0a6bd;
}

body {
  padding: 0;
  line-height: inherit;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  @apply bg-off-white;
  scrollbar-width: none;
}

.btn-primary{
@apply rounded focus:border-t-2 text-sm capitalize border-black p-2.5;
@apply hover:bg-black hover:text-white;
@apply transition-all duration-200 ease-in-out;

}

